* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #000000;
  display: grid;
  place-items: center;
  .sbox {
    overflow: hidden; 
    height: 100px;
    width: 400px;
    background-color: #0061ac;
    position: relative;
    .one,
    .two,
    .three,
    .four {
      color: #fff;
      font-size: 50px;
      height: 70px;
      width: 70px;
      background-color: #003e6d;
      margin: 0 5px 0;
      display: grid;
      place-items: center;
      position: absolute;
      bottom: -71px;
    }
    .one {
      left: 40px;
      transition: 0.2s all;
    }
    .two {
      left: 120px;
      transition: 0.4s all;
    }

    .three {
      transition: 0.6s all;
      left: 200px;
    }
    .four {
      transition: 0.8s all;
      left: 280px;
    }
  }
  .sbox:hover .one,
  .sbox:hover .two,
  .sbox:hover .three,
  .sbox:hover .four {
    bottom: 15px;
  }
}
